<li>
  <p>
    <strong>Name:</strong>
    <%= club.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= club.description %>
  </p>

  <% if current_user && (! user_in_club?(current_user, club)) %>
    <%= link_to "join", join_club_path(club), method: :post %>
  <% end %>
  <% if current_user && (user_in_club?(current_user, club)) %>
    <%= link_to "view members", members_club_path(club) %>
  <% end %>
  <%# if current_user?(get_club_admin(club)) %>
  <% if current_user && user_club_admin?(current_user, club)%>
    <%= link_to "edit", edit_club_path(club) %>
    <%= link_to "delete", club, method: :delete,
                  data: { confirm: "You sure?" } %>
  <% end %>
</li>