<% provide(:title, @club.name) %>
<h1>Club info</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>
      <strong>Name:</strong>
      <%= @club.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @club.description %>
    </p>

    <% if current_user && (! user_in_club?(current_user, @club)) %>
      <%= link_to "join", join_club_path(@club), method: :post %>
    <% end %>
    <% if current_user %>
      <%= link_to "view members", members_club_path(@club) %>
      <%= link_to "view activities", club_activities_path(@club) %>
    <% end %>
    <%# if current_user?(get_club_admin(club)) %>
    <% if current_user && user_club_admin?(current_user, @club)%>
      <%= link_to "edit", edit_club_path(@club) %>
      <%= link_to "delete", @club, method: :delete,
                  data: { confirm: "You sure?" } %>
    <% end %>
  </div>
</div>