<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="col-md-8">
    <% if @user.members.any? %>
      <h3>My clubs: <%= @user.members.count %></h3>
      <table class="user_memberships">
        <tr>
          <th>No.</th>
          <th>Club</th>
          <th>Balance</th>
        </tr>
        <% @user.members.all.each_with_index do |member, index| %>
          <%= render partial: 'users/membership', locals:{member: member, index: index} %>
        <% end %>
      </table>
    <% end %>
    <% if @upcoming_activities.any? %>
      <h3>My upcoming activities:</h3>
      <ul class="activities">
        <%= render @upcoming_activities %>
      </ul>
    <% end %>
  </div>
</div>