<% provide(:title, 'All activities') %>
<h1><%= link_to @club.name, club_path(@club) %> | All activities</h1>
<% if current_user && user_club_admin?(current_user, @club)%>
  <%= link_to "New activity", new_club_activity_path(@club) %>
<% end %>

<% if @activities && @activities.count == 0 %>
  <p>Currently there is no activities for this club</p>
<% else %>
  <%= will_paginate %>

  <ul class="activities">
    <%= render @activities %>
  </ul>

  <%= will_paginate %>
<% end %>