<tr>
  <td><%= member_counter + 1%></td>
  <td><%= member.user.name%></td>
  <td id="balance-<%= member.id%>"><%= member.balance%></td>
  <td>
    <% if current_user && user_club_admin?(current_user, @club) %>
      <%= form_for(member.payments.build, url: pay_club_path(@club), html: {method: :post, class: "form-inline"}) do |f| %>
            <%= f.hidden_field :member_id, value: member.id %>
            <%= f.text_field :amount, class: "form-control", placeholder: "Amount" %>
            <%= f.submit "Recharge", class: "form-control btn btn-primary" %>
      <% end %>
    <% end %>
  </td>
</tr>