<tr>
  <td><%= member_counter + 1%></td>
  <td><%= member.user.name%></td>
  <td><%= member.balance%></td>
  <td>
    <% if current_user && user_club_admin?(current_user, @club) %>
      <%= form_for(member.payments.build, url: pay_club_path(@club), html: {method: :post}) do |f| %>
        <ul class="hypers">
          <li class="d-inline-block">
            <%= f.hidden_field :member_id, value: member.id %>
          </li>
          <li class="d-inline-block">
            <%= f.text_field :amount, placeholder: "Amount" %>
          </li>
          <li class="d-inline-block">
            <%= f.submit "Recharge", class: "btn btn-primary" %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </td>
</tr>